<ion-header [translucent]="true">
   
  <ion-toolbar color="dark">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title><!--{{movie.title }}--></ion-title><!--I coudln't get the id information from th-->
    <ion-title size="medium">Update Genre Page</ion-title><!--Since I couln't continue with my project idea i had to improvise and stayed with the simple stuff from the labs-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar color="dark">
      <ion-back-button slot="start"></ion-back-button>
      <ion-title size="large"><!--{{movie?.title }}--></ion-title>
      <ion-title size="medium">Update Genre</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- <p>the Ganre is: {{savedGenre}}</p>
    <ion-button [routerLink]="['/genre']">Genre</ion-button> -->
  </div>

</ion-content>

<ion-content>
  <ion-title></ion-title>
  
  <!--<ion-card> to  -->
    <!--<img [src]="imageBaseUrl + '/w400' + movie.poster_path"/>to get the poster  about the movie ran into a bug couldnt fixe it --> 
  <!--</ion-card>-->


</ion-content>

<ion-footer>
  <ion-button expand ="full" (click)="openHomepage()">
    Open Homepage
  </ion-button>
</ion-footer>


